@charset "UTF-8";

body:lang(ja) { font-family: serif; }

strong:lang(ja), em:lang(ja), dfn:lang(ja) { font-style: normal; }

strong:lang(ja), dfn:lang(ja) { font-family: sans-selif; }

em:lang(ja) { font-weight: bold; }

pre { white-space: pre-wrap; }

code { white-space: pre; }

abbr { border-bottom: none; }

abbr:after { content: "(" attr(title) ")"; }

h1 { font-size: 1.5em; }

h2 { font-size: 1.3em; }

h3 { font-size: 1.1em; }
